h4{
    font-family: cursive;
    color:palevioletred;
}
img{
    width: 70%;
    border-radius: 9999px;
    width: 100%;
    height: 510px;
    border-style: double;
    

}
button{
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}